*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"poppins",sans-serif;
}
 .Loginbackground{
    background-image: url('bc image.jpg');

    } 
.container{
    background:#fff;
    width:450px;
    height: 500px;
    padding:1.5rem;
    margin:90px auto;
    border-radius: 30px;
    box-shadow:0 20px 35px rgba(0,0,1,0.9);
}
form{
    margin:0 2rem;
    margin-top:80px ;
}
.form-title{
    font-size:1.9rem;
    font-family:'Courier New', Courier, monospace;
    font-weight:bold;
    text-align:center;
    padding:1.3rem;
    margin-bottom:0.4rem;
}
input{
    margin-top: 15px;
    color:inherit;
    width:100%;
    background-color:transparent;
    border:none;
    border-bottom:1px solid #757575;
    padding-left:1.5rem;
    font-size:15px;
}
.input-group{
    padding:1% 0;
    position:relative;

}
.input-group i{
    position:absolute;
    color:black;
}
input:focus{
    background-color: transparent;
    outline:transparent;
    border-bottom:2px solid hsl(228, 100%, 86%);
}

label{
    color:#757575;
    position:relative;
    left:1.2em;
    top:-1.3em;
    cursor:auto;
    transition:0.3s ease all;
}
input:focus~label,input:not(:placeholder-shown)~label{
    top:-3em;
    color:hsl(204, 79%, 68%);
    font-size:15px;
}

.btn{
    font-size:1.1rem;
    padding:8px 0;
    border-radius:10px;
    outline:none;
    border:none;
    width:40%;
    background:rgb(136, 194, 249);
    color:white;
    cursor:pointer;
    transition:0.9s;
    float: right;
    margin-top: 90px;
}
.cancel-btn {
    font-size:1.1rem;
    padding:8px 0;
    border-radius:10px;
    outline:none;
    border:none;
    width:40%;
    background:rgb(249, 136, 136);
    color:white;
    cursor:pointer;
    transition:0.9s;
    float: left;
    margin-top: 90px;
}

.cancel-btn:hover {
    background: #ff4d4d; /* Red background on hover */
    color: white; /* White text on hover */
}

.btn:hover{
    background:#0e7fe8;
}
.or{
    font-size:1.1rem;
    margin-top:0.5rem;
    text-align:center;
}

.error-message {
    color: red;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
  }

 * {
    text-decoration:none;
} 
.header {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #f1f1f1;
}

.logo {
    display: flex;
    align-items: center;
    width: 300px;
    padding-left: 40px;
}

.logo span {
    color: #5073fb;
}



.profile {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 60px);
}


/* sidebar */

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    background-color: #fff;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 2px solid #d7d7d7;
    transition: .3s;
}



li {
    list-style: none;
}


.sidebar--items a,
.sidebar--bottom-items a {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1.1rem;
    color: #000;
    padding: 10px;
    border-radius: 10px;
}

.sidebar--items a:hover,
.sidebar--bottom-items a:hover {
    background-color: #839cff;
    color: #fff;
}


.menu-link.active {
    background-color: #839cff;
    color: #fff;
}

.sidebar--bottom-items  {
    margin-bottom: 0;
}

.icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-size: 1.3rem;
}

.icon-0 {
    color: #5073fb;
}

.icon-1 {
    color: #0033ff;
}

.icon-2 {
    color: #0033ff;
}

.icon-3 {
    color: #0033ff;
}

.icon-4 {
    color: #0033ff;
}

.icon-6 {
    color: #5f5ce0;
}

.icon-7 {
    color: #4f4f4f;
}

.icon-8 {
    color: #f14343;

}


/* main--content */

.main--content {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: calc(100% - 300px);
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    transition: .3s;
}

.main--content.active {
    width: calc(100% - 103px);
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 30px;
}

.section--title {
    font-weight: 400;
    color: #000000;
}


.cards {
    display: flex;
    gap: 100px;
}

.card {
    padding: 40px;
    border-radius: 20px;
    width: 300px;
    height: 230px;
    transition: .3s;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card--data {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.cards h1 {
    font-size: 50px;
    margin-top: 10px;
}

.card--icon--lg {
    font-size: 100px;
}

.card--icon {
    margin:5px;
}

.card-1 {
    background-color: rgba(80, 115, 251, .1);
}

.card-1 .card--title {

    color: rgba(80, 115, 251, 1);
}

.card-1 .card--icon--lg {
    color: rgba(80, 115, 251, .4);
  
}

.card-2 {
    background-color: rgba(80, 115, 251, .1);
}

.card-2 .card--title {
    color: rgba(80, 115, 251, 1);
}

.card-2 .card--icon--lg {
    color: rgba(80, 115, 251, .4);
}

.card-3 {
    background-color: rgba(80, 115, 251, .1);
    
}

.card-3 .card--title {
    color: rgba(80, 115, 251, 1);

}

.card-3 .card--icon--lg {
    color: rgba(80, 115, 251, .4);
  
}


/* doctors */

.doctors--right--btns {
    display: flex;
    align-items: center;
    gap: 30px;
}

.add {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    outline: none;
    border: none;
    background-color: #5073fb;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.add:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.add i {
    margin-right: 10px;
    padding: 5px;
    background-color: #fff;
    border-radius: 50%;
    color: #000;
}

.doctors--cards {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
}

.doctor--card {
    padding: 40px;
    border-radius: 20px;
    background-color: rgba(80, 115, 251, .1);;
    height: auto;
    transition: .3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .8rem;
}

.doctor--card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.img--box--cover {
    border: 1px solid rgba(80, 115, 251, 1);
    padding: 2px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 10px;
}

.img--box {
    position: relative;
    width: 90px;
    height: 90px;
    overflow: hidden;
    border-radius: 50%;
}

.doctorname {
    color: rgba(80, 115, 251, 1);
    font-weight: bold;
}



.todaysAppointments {
    margin-bottom: 20px;
    padding-bottom: 50px;
}

.table {
    height: 200px;
    overflow-y: scroll;
    overflow-x: scroll;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    
}

tr {
    border-bottom: 2px solid rgba(80, 115, 251, .1);
}

td{
    padding-block: 10px;
}

th {
    padding-block: 10px;
    font-size: 20px;
    color:rgba(80, 115, 251, 1);
}


.search {
    background-color: #f1f4f8;
    border-radius: 50px;
    width: 400px;
    padding-bottom: 5px;
    padding-right:5px ;
    display: flex;
    align-items: right;
    justify-content: space-between;
}

.search input {
    background-color: transparent;
    outline: none;
    border: none;
    text-indent: 15px;
    width: 85%;
    margin-bottom: 9px;
}

.search button {
    outline: none;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
   
}

.search button i {
    font-size: 1.1rem;
    color: #5073fb;
}

h2.A-title{
    margin-bottom: 40px;

}



.date-filter{
    padding-right:5px ;
    float: right;
    align-items: left;
}
/* Style the date input field (customize as needed) */
#date-filter-input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
    cursor: pointer;
    background-color: #6c89ff9a;
  
}

 

.deletediv {
    background-color: #ffffff;
    border-radius: 50px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-bottom: 20px;
}

.delete-btn {
    background-color: white;
    outline: none;
    border: none;
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;

}

.delete {
    border-radius: 50%;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding-bottom: 60px;
 
}

.delete:hover{
    color: #ff2323;
}


.docImg{
    border-radius: 100%;
    width: 30px;
    height: 30px;
}
/* responsive starts here */

@media screen and (max-width:1350px) {
    .cards,
    .doctors--cards {
        overflow-x: scroll;
    }
}

@media screen and (max-width:1024px) {
    table {
        min-width: 600px;
    }
}

@media screen and (max-width:768px) {
    h2 {
        padding-left: 30px;
        width: fit-content;
    }
    .search--notification--profile {
        padding: 0 20px;
        margin-left: auto;
    }
    .main--content {
        padding: 0 20px;
    }
    .sidebar {
        padding: 20px;
    }
    .sidebar.active {
        width: 85px;
    }
    .main--content.active {
        width: calc(100% - 85px);
    }
}

@media screen and (max-width:590px) {
    .search,
    .lock,
    .chat {
        display: none;
    }
    .notification--profile {
        margin-left: auto;
    }
    .search--notification--profile {
        width: fit-content;
    }
    .sidebar {
        transform: translateX(-100%);
        z-index: 10;
        background-color: #fff;
    }
    .sidebar.active {
        transform: translateX(0);
        width: 300px;
    }
    .sidebar.active .sidebar--item {
        display: block;
    }
    .main--content {
        width: calc(100% - 0px);
    }
    .main--content.active {
        width: calc(100% - 0px);
    }
}

@media screen and (max-width:450px) {
    .doctor--filter {
        display: none;
    }
    .main--content {
        padding: 0 10px;
    }
    .logo {
        padding-left: 10px;
    }
    .search--notification--profile {
        padding: 0 10px;
    }
    .sidebar {
        padding: 10px;
    }
}