@import url("https://fonts.googleapis.com/css?family=Inter:wght@100..900&display=swap");


:root {
    --maincolor: #2ec8a6;
    --secondcolor: #f8a803;
    --thirdcolor: #f4ab01;
    --textcolor: #4a5764;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 200ms linear;
}

html{
    font-size: 1rem;
    overflow: hidden;
    scroll-behavior: smooth;
    scroll-padding: 6rem;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 7%;
    align-items: center;
    width: 100%;
    box-shadow: 0 0.5rem 1.7rem rgba(0, 0, 0, 1);
    z-index: 1000;
    background-color: white;
}

nav, .nav-links{
    display:flex;
    gap: 2rem;
    list-style:none;
    font-size: 1.7rem;
    margin: 1rem;
    
}

a{
    color: var(--textcolor);
    position: relative;
}

a::after{
    content: "";
    background-color: var(--secondcolor);
    height: 0.2rem;
    width: 0.2;
    position: absolute;
    left: 0;
    bottom: -1rem;
    transition: width 0.3s ease;
}

a:hover::after{
    width: 100px;
}

.logo {
    width: 100px;
}

.logo img{
    width: 110px;
}

#menu-bars{

    color:var(--maincolor);
    font-size: 2.5rem;
    cursor: pointer;
    margin-right:1rem;
    display: none;
}

#menu-bars:hover{
    color: var(--maincolor);
}

.right-icons .btn{
    padding: 1rem;
  font-size: 1rem;
  color: var(--textcolor);
  border: 0.2rem solid var(--textcolor);
  text-decoration: none;
  cursor: pointer;
}

.right-icons .btn:hover {
    color: var(--maincolor);
  }

  /* Home sectoin for the picture */

.main-home{
    padding: 2rem 7%;
    background-image: url(./images/blurbg1.jpg);
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

.main-home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
}

@media (max-width: 768px) {
    html {
      font-size: 60%;
    }
  
  .right-icons{
      display: flex;
      align-items: center;
  }
  
  header{
      padding: 2rem;
  }
  
    #menu-bars {
      display: initial;
    }
  
  
    .navbar {
      position: absolute;
      top: 100%;
      left: 100%;
      height: 100vh;
      width: 100%;
    }
  
    .navbar.active{
      left: 0;
    }
  
  .navbar a{
      display: block;
      margin: 2rem;
      padding: 1rem;
      border: 1px solid var(--textcolor);
      text-align: center;
  
  }
  
  }
  