.container{
    max-width:600px;
    margin: 0 auto;
    padding: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form-group{
    margin-bottom: 30px;
    text-align: left;
}
#profilePicture{
    flex: 2;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    margin: 1rem;
}

.btn{
    align-items: center;
    margin: 1rem;
} 