@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

body {
    background-image: url('stethoscope-business-card-with-blue-background.jpg');
    background-size: cover;
   
}


nav {
    background-color: #0A8280;
    padding: 20px;
    display: flex;
    justify-content: space-between; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between; 
}


.left-links {
    display: flex;
    flex: 2; 
    justify-content: center; 
}

.left-links li {
    margin-right: 20px;
}

.left-links li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #506773;
}

.left-links li a:hover {
    background-color: #3b4f56;
}

/* Right side (Log Out button) */
.right-link {
    display: flex;
    justify-content: flex-end;
}

.right-link li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #71D9D5;
}

.right-link li a:hover {
    background-color: #55b7b3;
}

.welcome-section {
    text-align: center;
    padding: 50px;
    background-size: cover;
    color: black;
}

.doctor-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 5px solid white;
}

h1 {
    font-size: 36px;
    margin-top: 20px;
}

.button-group {
    margin-top: 30px;
}

.button {
    display: inline-block;
    padding: 10px 30px;
    margin: 20px;
    background-color: #6A7C8E;
    color:#080808;
    border-radius: 20px;
    text-decoration: none;
    font-size: 16px;
}

.button:hover {
    background-color: #4C5A6B;
}